In [3]:
# !pip3 install pandas

In [1]:
import pandas as pd

In [65]:
data = pd.read_csv("./pandas/Dataset/big_mart_sales.csv")

In [66]:
data.head(3)
data1 = data

In [93]:
data1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,Small,Tier 1,Supermarket Type1,765.6700

In [67]:
data.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [68]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [69]:
# check the null value in data 
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [70]:
# summery of data 
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [71]:
import random

In [72]:
data.index

RangeIndex(start=0, stop=8523, step=1)

In [73]:
# chnaging the index of the datar
list_random = [random.randint(1,8523) for i in range(1,8524)]

In [74]:
data.index = list_random

In [75]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1793,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1173,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
4971,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4856,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
5278,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [76]:
data.set_index("Outlet_Establishment_Year" , drop = True ,inplace= True)

In [77]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [78]:
data.set_index("Item_Identifier", drop=True , inplace = True)

In [79]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [80]:
# get the the data that have this index
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,NaN,Tier 2,Supermarket Type1,5976.2208

In [81]:
data.loc[['FDE51','FDA15','FDA03','FDU02'],['Item_Type','Item_Visibility','Outlet_Identifier']]

                Item_Type  Item_Visibility Outlet_Identifier
Item_Identifier
FDE51               Dairy         0.161467            OUT010
FDE51               Dairy         0.096467            OUT046
FDE51               Dairy         0.096449            OUT035
FDE51               Dairy         0.168902            OUT019
FDE51               Dairy         0.097013            OUT017
FDE51               Dairy         0.096387            OUT013
FDE51               Dairy         0.096000            OUT027
FDA15               Dairy         0.016047            OUT049
FDA15               Dairy         0.016055            OUT045
FDA15               Dairy         0.016019            OUT035
FDA15               Dairy         0.016088            OUT018
FDA15               Dairy         0.026818            OUT010
FDA15               Dairy         0.016009            OUT013
FDA15               Dairy         0.015945            OUT027
FDA15               Dairy         0.016113            OUT017
FDA03               Dairy         0.045464            OUT046
FDA03               Dairy         0.045244            OUT027
FDA03               Dairy         0.000000            OUT035
FDA03               Dairy         0.076097            OUT010
FDA03               Dairy         0.045426            OUT013
FDA03               Dairy         0.045534            OUT049
FDU02               Dairy         0.102492            OUT035
FDU02               Dairy         0.102512            OUT046
FDU02               Dairy         0.179484            OUT019
FDU02               Dairy         0.102719            OUT045
FDU02               Dairy         0.102426            OUT013
FDU02               Dairy         0.102671            OUT049
FDU02               Dairy         0.103091            OUT017

In [82]:
# reset_index of data 
data.reset_index(inplace= True)

In [83]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [84]:
# filter 
data[data['Item_Type'] == "Dairy"]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,High,Tier 3,Supermarket Type1,2479.4392

In [85]:
# select spicific range of data
# data[10:30:3]
data[10:30]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,High,Tier 3,Supermarket Type1,1977.4260
15,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,Small,Tier 1,Supermarket Type1,1547.3192
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,Medium,Tier 3,Supermarket Type2,1621.8888
17,FDP49,9.000,Regular,0.069196,Breakfast,54.3614,OUT049,Medium,Tier 1,Supermarket Type1,718.3982
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,Medium,Tier 3,Supermarket Type3,2303.6680
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,Small,Tier 2,Supermarket Type1,2748.4224
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,High,Tier 3,Supermarket Type1,3775.0860
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,Medium,Tier 3,Supermarket Type3,4064.0432
22,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,Small,Tier 2,Supermarket Type1,1587.2672
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,Small,Tier 1,Grocery Store,214.3876
24,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,Small,Tier 1,Supermarket Type1,4078.0250
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,NaN,Tier 2,Supermarket Type1,838.9080
26,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,Small,Tier 2,Supermarket Type1,1065.2800
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,High,Tier 3,Supermarket Type1,308.9312
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,NaN,Tier 3,Grocery Store,178.4344
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,Small,Tier 1,Grocery Store,125.8362

In [86]:
# get spicific data 
data.iloc[[3,4,9,30,50]]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
9,FDU28,19.20,Regular,0.094450,Frozen Foods,187.8214,OUT017,NaN,Tier 2,Supermarket Type1,4710.5350
30,FDV38,19.25,Low Fat,0.170349,Dairy,55.7956,OUT010,NaN,Tier 3,Grocery Store,163.7868
50,NCL17,7.39,Low Fat,0.067780,Health and Hygiene,143.8812,OUT046,Small,Tier 1,Supermarket Type1,3134.5864

In [87]:
# get spicific rows and columns
# row[1,3,4,5], column[1,3,5]
data.iloc[[1,3,4,5], [1,3,5]]

   Item_Weight  Item_Visibility  Item_MRP
1        5.920         0.019278   48.2692
3       19.200         0.000000  182.0950
4        8.930         0.000000   53.8614
5       10.395         0.000000   51.4008

In [90]:
data = data.sort_values(by="Item_Weight")

In [102]:
data.loc[(data.Item_Type == "Dairy") &(data.Outlet_Size == "Medium")]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5415,FDW02,4.805,Regular,0.037853,Dairy,126.2704,OUT018,Medium,Tier 3,Supermarket Type2,3629.9416
7899,FDW38,5.325,Regular,0.139245,Dairy,53.0298,OUT018,Medium,Tier 3,Supermarket Type2,377.5086
2227,FDA38,5.440,Low Fat,0.025584,Dairy,239.1538,OUT018,Medium,Tier 3,Supermarket Type2,480.7076
1909,FDA38,5.440,Low Fat,0.025520,Dairy,238.7538,OUT049,Medium,Tier 1,Supermarket Type1,3605.3070
7481,FDU50,5.750,Regular,0.075287,Dairy,115.3176,OUT049,Medium,Tier 1,Supermarket Type1,572.5880
...,...,...,...,...,...,...,...,...,...,...,...
7826,FDM39,NaN,Low Fat,0.053212,Dairy,177.6002,OUT027,Medium,Tier 3,Supermarket Type3,8417.7094
7837,FDC16,NaN,Regular,0.020470,Dairy,88.2540,OUT027,Medium,Tier 3,Supermarket Type3,2510.0660
7856,FDJ15,NaN,Regular,0.023210,Dairy,183.3608,OUT027,Medium,Tier 3,Supermarket Type3,6064.1064
7987,FDI27,NaN,Regular,0.045764,Dairy,43.8744,OUT027,Medium,Tier 3,Supermarket Type3,1222.4088
8165,FDD39,NaN,Low Fat,0.069815,Dairy,214.3850,OUT027,Medium,Tier 3,Supermarket Type3,4327.7000

In [109]:
data.loc[(data.Item_Identifier.isin(["FDW02","FDA38"]),["Item_Weight","Item_Fat_Content","Item_Identifier"])]

      Item_Weight Item_Fat_Content Item_Identifier
5415        4.805          Regular           FDW02
1500        4.805          Regular           FDW02
5514        4.805          Regular           FDW02
7667        4.805          Regular           FDW02
2227        5.440          Low Fat           FDA38
1909        5.440          Low Fat           FDA38
6331        5.440          Low Fat           FDA38
2035          NaN          Low Fat           FDA38
2866          NaN          Regular           FDW02
5113          NaN          Regular           FDW02

In [111]:
data.isna().sum()

Item_Identifier            0
Item_Weight             1463
Item_Fat_Content           0
Item_Visibility            0
Item_Type                  0
Item_MRP                   0
Outlet_Identifier          0
Outlet_Size             2410
Outlet_Location_Type       0
Outlet_Type                0
Item_Outlet_Sales          0
dtype: int64

In [118]:
data.loc[(data.Item_Weight.isna() == True), 'Item_Weight'] = data.Item_Weight.mean()

In [119]:
data.isna().sum()

Item_Identifier            0
Item_Weight                0
Item_Fat_Content           0
Item_Visibility            0
Item_Type                  0
Item_MRP                   0
Outlet_Identifier          0
Outlet_Size             2410
Outlet_Location_Type       0
Outlet_Type                0
Item_Outlet_Sales          0
dtype: int64

In [120]:
data.loc[(data.Outlet_Size.isna() == True ),"Outlet_Size"] = data.Outlet_Size.mode()

In [121]:
data.isna().sum()

Item_Identifier            0
Item_Weight                0
Item_Fat_Content           0
Item_Visibility            0
Item_Type                  0
Item_MRP                   0
Outlet_Identifier          0
Outlet_Size             2410
Outlet_Location_Type       0
Outlet_Type                0
Item_Outlet_Sales          0
dtype: int64

In [124]:
data.Item_Fat_Content .value_counts()

Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: count, dtype: int64

In [125]:
# create new col and fil using apply
data["Item_MRP_in_som"] = data.Item_MRP.apply(lambda x: x/27)

In [126]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_MRP_in_som
7808,FDP40,4.555,Regular,0.034329,Frozen Foods,110.1544,OUT013,High,Tier 3,Supermarket Type1,1230.3984,4.079793
4430,FDP40,4.555,Regular,0.034357,Frozen Foods,112.6544,OUT046,Small,Tier 1,Supermarket Type1,2684.5056,4.172385
3489,FDP40,4.555,Regular,0.034351,Frozen Foods,112.7544,OUT035,Small,Tier 2,Supermarket Type1,1789.6704,4.176089
4400,FDP40,4.555,Regular,0.034411,Frozen Foods,111.3544,OUT049,Medium,Tier 1,Supermarket Type1,1342.2528,4.124237
3077,DRE12,4.590,Low Fat,0.070767,Soft Drinks,111.9860,OUT035,Small,Tier 2,Supermarket Type1,792.3020,4.147630

In [131]:
data.set_index(data.Item_Identifier, drop = True, inplace= True)

In [135]:
data[['Item_MRP_in_som',"Item_Type"]]

                 Item_MRP_in_som              Item_Type
Item_Identifier
FDP40                   4.079793           Frozen Foods
FDP40                   4.172385           Frozen Foods
FDP40                   4.176089           Frozen Foods
FDP40                   4.124237           Frozen Foods
DRE12                   4.147630            Soft Drinks
...                          ...                    ...
DRK37                   7.001963            Soft Drinks
DRG13                   6.101948            Soft Drinks
NCN14                   6.839289                 Others
FDU44                   6.013156  Fruits and Vegetables
NCN18                   4.139052              Household

[8523 rows x 2 columns]

In [136]:
data = pd.get_dummies(data)

In [140]:
data

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Item_MRP_in_som,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
Item_Identifier,,,,,,,,,,,,,,,,,,,,,
FDP40,4.555000,0.034329,110.1544,1230.3984,4.079793,False,False,False,False,False,...,True,False,False,False,False,True,False,True,False,False
FDP40,4.555000,0.034357,112.6544,2684.5056,4.172385,False,False,False,False,False,...,False,False,True,True,False,False,False,True,False,False
FDP40,4.555000,0.034351,112.7544,1789.6704,4.176089,False,False,False,False,False,...,False,False,True,False,True,False,False,True,False,False
FDP40,4.555000,0.034411,111.3544,1342.2528,4.124237,False,False,False,False,False,...,False,True,False,True,False,False,False,True,False,False
DRE12,4.590000,0.070767,111.9860,792.3020,4.147630,False,False,False,False,False,...,False,False,True,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DRK37,12.857645,0.043792,189.0530,6261.8490,7.001963,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True
DRG13,12.857645,0.037006,164.7526,4111.3150,6.101948,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True
NCN14,12.857645,0.091473,184.6608,2756.4120,6.839289,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True
FDU44,12.857645,0.102296,162.3552,487.3656,6.013156,False,False,False,False,False,...,False,False,True,True,False,False,True,False,False,False
NCN18,12.857645,0.124111,111.7544,4138.6128,4.139052,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,True

In [138]:
data.shape

(8523, 1605)